@model Medi_Clinic.Models.Chemist

@{
    ViewData["Title"] = "CreateChemist";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-form-wrapper">
    <div class="admin-form-card">
        <h4 class="form-title"><center>Create Chemist</center></h4>

        <form asp-action="CreateChemist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChemistName" class="control-label"></label>
                <input asp-for="ChemistName" class="form-control" />
                <span asp-validation-for="ChemistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            
            <div class="form-group form-actions-fix">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="ChemistGetDetails" class="btn btn-secondary btn-back-fix">
                    Back to List
                </a>
            </div>
        </form>
    </div>
    
</div>



