@model Medi_Clinic.Models.Patient

@{
    ViewData["Title"] = "CreatePatient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-form-wrapper">
    <div class="admin-form-card">
        <h4 class="form-title"><center>Create Patient</center></h4>
        <form asp-action="CreatePatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <div>
                    <input type="radio" asp-for="Gender" value="Male" /> Male
                    <input type="radio" asp-for="Gender" value="Female" /> Female
                    <input type="radio" asp-for="Gender" value="Other" /> Other
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            
            <div class="form-group form-actions-fix">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="PatientGetDetails" class="btn btn-secondary btn-back-fix">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>



