@model Medi_Clinic.Models.Physician

@{
    ViewData["Title"] = "EditPhysician";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="admin-form-wrapper">
    <div class="admin-form-card">
        <h4 class="form-title"><center>Edit Physician</center></h4>
        <form asp-action="EditPhysician">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhysicianId" />
            <div class="form-group">
                <label asp-for="PhysicianName" class="control-label"></label>
                <input asp-for="PhysicianName" class="form-control" />
                <span asp-validation-for="PhysicianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label d-block">Physician Status</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           asp-for="PhysicianStatus" value="Pending" />
                    <label class="form-check-label">Pending</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           asp-for="PhysicianStatus" value="Active" />
                    <label class="form-check-label">Active</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                           asp-for="PhysicianStatus" value="Inactive" />
                    <label class="form-check-label">Inactive</label>
                </div>

                <span asp-validation-for="PhysicianStatus" class="text-danger"></span>
            </div>
            
            <div class="form-group form-actions-fix">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="PatientGetDetails" class="btn btn-secondary btn-back-fix">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>



