body {
}
.dashboard-card {
    border-radius: 15px;
    transition: 0.3s;
}

    .dashboard-card:hover {
        transform: translateY(-6px);
    }

.icon-circle {
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
