@model IEnumerable<Medi_Clinic.Models.PhysicianAdvice>

@{
    ViewData["Title"] = "ViewAdvice";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h1>ViewAdvice</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Advice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Advice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            
        </tr>
}
    </tbody>
</table>
